//- 首页入口.pug
extends ../../../assets/layout/index.pug

//- 公用的header
block headerBlock
    //- include ../../../assets/component/header/commonHeader
//- 首页内容
block contentBlock
    //- include ../../../assets/component/home/index
//- 公用的footer
block footerBlock
    //- include ../../../assets/component/footer/commonFooter

