//- layout
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        block metas

        block scripts
            script(src="../../../static/js/jquery.min.js")
            script(src="../../../static/js/jquery.cookie.js")
            script(src="../../../static/js/fix.js")
    body
        block headerBlock
        block contentBlock
        block footerBlock